{% extends "base.html" %}
{% block title %}Darkroom{% endblock %}
{% block content %}
    <div class="product-container">
        <div class="product-image">
            <img src="static/img/products/Cameras/contaxt2.jpg" alt="Product Image">
        </div>
        <div class="product-details">
            <h1>Contax T2</h1>
            <p>Point and Shoot Camera</p>
            <p><strong>Price:</strong>$75</p>
            <button>Add to Cart</button>
        </div>
    </div>

    <div class="product-description">
    
        <p>Contax T2: Timeless Elegance, Exceptional Performance</p>
        <ul>
            <li>The Contax T2 is a legendary 35mm film camera renowned for its blend of sophisticated design and cutting-edge technology. Featuring a high-quality Carl Zeiss lens, autofocus precision, and a durable titanium build, this compact camera delivers stunning image quality with ease. The T2 is the epitome of style and substance, making it a sought-after choice for enthusiasts and collectors alike.</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}