<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darkroom</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--CSS STYLESHEET-->
    <link rel="stylesheet" type="text/css" href="/static/drstyle.css">
    <!--BOX ICONS-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!--REMIXICONS-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--JAVASCRIPT-->
    <script src="/static/script.js"></script>
</head>
<body>
    <main class="container">
 
        <!-- Left Column / Headphones Image -->
        <div class="left-column">
          <img data-image="135" class="active" src="/static/img/s-l1200.jpg" alt="">
          <img data-image="blue" src="images/blue.png" alt="">
          <img data-image="red"  src="images/red.png" alt="">
        </div>
       
       
        <!-- Right Column -->
        <div class="right-column">
       
          <!-- Product Description -->
          <div class="product-description">
            <span>Headphones</span>
            <h1>Beats EP</h1>
            <p>The preferred choice of a vast range of acclaimed DJs. Punchy, bass-focused sound and high isolation. Sturdy headband and on-ear cushions suitable for live performance</p>
          </div>
       
          <!-- Product Configuration -->
          <div class="product-configuration">
       
            <!-- Product Color -->
            <div class="product-color">
              <span>Color</span>
       
              <div class="color-choose">
                <div>
                  <input data-image="red" type="radio" id="red" name="color" value="red" checked>
                  <label for="red"><span></span></label>
                </div>
                <div>
                  <input data-image="blue" type="radio" id="blue" name="color" value="blue">
                  <label for="blue"><span></span></label>
                </div>
                <div>
                  <input data-image="black" type="radio" id="black" name="color" value="black">
                  <label for="black"><span></span></label>
                </div>
              </div>
       
            </div>
       
            <!-- Cable Configuration -->
            <div class="cable-config">
              <span>Cable configuration</span>
       
              <div class="cable-choose">
                <button>Straight</button>
                <button>Coiled</button>
                <button>Long-coiled</button>
              </div>
       
              <a href="#">How to configurate your headphones</a>
            </div>
          </div>
       
          <!-- Product Pricing -->
          <div class="product-price">
            <span>148$</span>
            <a href="#" class="cart-btn">Add to cart</a>
          </div>
        </div>
      </main>
</body>
</html>