{% extends "base.html" %}
{% block title %}Darkroom{% endblock %}
{% block content %}
    <div class="product-container">
        <div class="product-image">
            <img src="static/img/products/Film/HP5+.jpg" alt="Product Image">
        </div>
        <div class="product-details">
            <h1>Ilford HP5+</h1>
            <p>Black and White Film</p>
            <p><strong>Price:</strong>$7</p>
            <button>Add to Cart</button>
        </div>
    </div>

    <div class="product-description">
    
        <p>Ilford HP5+: Timeless Monochrome Mastery</p>
        <ul>
            <li>Ilford HP5+ is a versatile and classic black and white film stock cherished by photographers for its exceptional performance in various lighting conditions. With its fine grain structure and wide exposure latitude, HP5+ delivers sharp, detailed images with rich contrast. Whether capturing portraits, landscapes, or street scenes, this film stock excels, providing a timeless aesthetic that stands out in the realm of monochrome photography. Ilford HP5+ is the choice for those seeking the perfect balance of flexibility and quality in their black and white film captures.</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}