{% extends "base.html" %}
{% block title %}Darkroom{% endblock %}
{% block content %}
    <div class="product-container">
        <div class="product-image">
            <img src="static/img/products/Film/500T.jpg" alt="Product Image">
        </div>
        <div class="product-details">
            <h1>Kodak VISON3 500T</h1>
            <p>Motion Picture Color Film</p>
            <p><strong>Price:</strong>$325</p>
            <button>Add to Cart</button>
        </div>
    </div>

    <div class="product-description">
    
        <p>Kodak Vision3 500T: Tungsten Magic in Every Frame</p>
        <ul>
            <li>Kodak Vision3 500T is a film stock designed to bring the cinematic brilliance of tungsten-balanced films to still photography. Originally crafted for motion pictures, this film stock is optimized for low-light conditions, particularly indoors, and exhibits a distinctive warmth in its color rendition. With a higher ISO of 500, the Vision3 500T excels in capturing fine details even in challenging lighting situations. Elevate your still photography with the atmospheric and cinematic charm of Kodak Vision3 500T, where every frame tells a story bathed in tungsten light.</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}