{% extends "base.html" %}
{% block title %}Darkroom{% endblock %}
{% block content %}
    <div class="product-container">
        <div class="product-image">
            <img src="static/img/products/Film/250D.jpg" alt="Product Image">
        </div>
        <div class="product-details">
            <h1>Kodak Vision3 250D</h1>
            <p>Motion Picture Color Film</p>
            <p><strong>Price:</strong>$325</p>
            <button>Add to Cart</button>
        </div>
    </div>

    <div class="product-description">
    
        <p>Kodak Vision3 250D: Dynamic Color and Clarity</p>
        <ul>
            <li>Kodak Vision3 250D is a versatile color negative film renowned for its exceptional image quality and vibrant colors. Originally designed for motion picture production, this film stock has found a place in still photography for those who seek dynamic and true-to-life color reproduction. With its medium-speed ISO of 250, the Vision3 250D performs well in a variety of lighting conditions, making it suitable for both outdoor and indoor shooting. Capture every detail with clarity and experience the cinematic quality that Kodak Vision3 films are known for.</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}