{% extends "base.html" %}
{% block title %}Darkroom{% endblock %}
{% block content %}
    <div class="product-container">
        <div class="product-image">
            <img src="static/img/products/Cameras/mamiya7.jpg" alt="Product Image">
        </div>
        <div class="product-details">
            <h1>Mamiya 7</h1>
            <p>Rangefinder Camera</p>
            <p><strong>Price:</strong>$750</p>
            <button>Add to Cart</button>
        </div>
    </div>

    <div class="product-description">
    
        <p>Mamiya 7: Medium Format Mastery</p>
        <ul>
            <li>The Mamiya 7 is a medium format film camera celebrated for its exceptional image quality and portability. Boasting a rangefinder design, this camera is a favorite among photographers who prioritize clarity and detail. With its ability to use 6x7 cm film, the Mamiya 7 delivers stunning results in a lightweight and versatile package. Renowned for its sharp lenses and ease of use, the Mamiya 7 is a choice for those seeking medium format excellence in a compact form.</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}