{% extends "base.html" %}
{% block title %}Darkroom{% endblock %}
{% block content %}
    <div class="product-container">
        <div class="product-image">
            <img src="static/img/products/Cameras/mamiya7.jpg" alt="Product Image">
        </div>
        <div class="product-details">
            <h1>Pentax 6X7</h1>
            <p>Single-Lens-Reflex(SLR) Camera</p>
            <p><strong>Price:</strong>$750</p>
            <button>Add to Cart</button>
        </div>
    </div>

    <div class="product-description">
    
        <p>Pentax 6x7: Power in Every Frame</p>
        <ul>
            <li>The Pentax 6x7 stands tall as a legendary medium format film camera, revered for its robust build and impressive image quality. Sporting a distinctive prism housing and a vast 6x7 cm frame, this camera is a powerhouse for capturing rich detail and depth. Renowned for its versatility and reliability, the Pentax 6x7 remains a top choice for photographers who appreciate the tactile experience of manual controls and the unmatched beauty of medium format film photography.</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}