{% extends "base.html" %}
{% block title %}Products{% endblock %}
{% block content %}
     <div class="main_container">
        <div class="product">
            <img src="/static/img/products/Cameras/ae1pbody.jpg" alt="">
            <div class="product_desc">
                <a href="/canonae1program"><h3>Canon AE-1 Program</h3></a>
                <p>$140.00</p>
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="product">
            <img href ="#" src="/static/img/products/Cameras/contaxt2.jpg" alt="">
            <div class="product_desc">
                <a href="/contaxt2"><h3>Contax T2</h3></a>
                <p>$75.00</p>
            </div>
        </div>
        <div class="main_container">
            <div class="product">
                <img src="/static/img/products/Cameras/xpan.jpg" alt="">
                <div class="product_desc">
                    <a href="/xpan"><h3>Hasselblad XPAN</h3></a>
                    <p>$3750.00</p>
                </div>
            </div>
    </div>
    <div class="main_container">
        <div class="product">
            <img src="/static/img/products/Cameras/mamiya7.jpg" alt="">
            <div class="product_desc">
                <a href="/mamiya7"><h3>Mamiya 7</h3></a>
                <p>$750.00</p>
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="product">
            <img src="/static/img/products/Cameras/pentax67.jpg" alt="">
            <div class="product_desc">
                <a href="/pentax6x7"><h3>Pentax 6X7</h3></a>
                <p>$550.00</p>
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="product">
            <img src="/static/img/products/Film/HP5+.jpg" alt="">
            <div class="product_desc">
                <a href="/ilfordhp5"><h3>Ilford HP5+</h3></a>
                <p>$7.00</p>
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="product">
            <img src="/static/img/products/Film/XP2super.jpg" alt="">
            <div class="product_desc">
                <a href="/ilfordxp2"><h3>Ilford XP2 Super</h3></a>
                <p>$7.00</p>
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="product">
            <img src="/static/img/products/Film/50D.jpg" alt="">
            <div class="product_desc">
                <a href="/vision350d"><h3>Vision3 50D (400ft reel)</h3></a>
                <p>$325.00</p>
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="product">
            <img src="/static/img/products/Film/250D.jpg" alt="">
            <div class="product_desc">
                <a href="/vision3250d"><h3>Vision3 250D (400ft reel)</h3></a>
                <p>$325.00</p>
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="product">
            <img src="/static/img/products/Film/200T.jpg" alt="">
            <div class="product_desc">
                <a href="/vision3200t"><h3>Vision3 200T (400ft reel)</h3></a>
                <p>$325.00</p>
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="product">
            <img src="/static/img/products/Film/500T.jpg" alt="">
            <div class="product_desc">
                <a href="/vision3500t"><h3>Vision3 500T (400ft reel)</h3></a>
                <p>$325.00</p>
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="product">
            <img src="/static/img/products/Film/gold200.jpg" alt="">
            <div class="product_desc">
                <a href="/kodakgold200"><h3>Kodak Gold 200</h3></a>
                <p>$9.00</p>
            </div>
        </div>
    </div>
{% endblock %}