{% extends "base.html" %}
{% block title %}Darkroom{% endblock %}
{% block content %}
    <div class="product-container">
        <div class="product-image">
            <img src="static/img/products/Cameras/xpan.jpg" alt="Product Image">
        </div>
        <div class="product-details">
            <h1>Hasselblad XPAN</h1>
            <p>Rangefinder camera</p>
            <p><strong>Price:</strong>$3750</p>
            <button>Add to Cart</button>
        </div>
    </div>

    <div class="product-description">
    
        <p>Hasselblad Xpan: Panoramic Excellence</p>
        <ul>
            <li>The Hasselblad Xpan is a unique and compact 35mm film camera, renowned for its panoramic capabilities. Produced in collaboration with Fuji, the Xpan captures sweeping vistas with its wide-format frame, allowing photographers to tell a broader visual story. Known for its exceptional build quality, precise optics, and intuitive controls, the Hasselblad Xpan is a favored choice for those seeking a portable yet powerful tool for capturing the world in stunning panoramas.</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}